/* Styles for larger screens */
.large-component {
    display: block;
    flex-direction: column;
    justify-content : left;
    align-items: center;
    margin-bottom: 8px;
  }
  
  /* Styles for smaller screens */
  .small-component {
    display: none;
    margin-bottom: 8px;
  }
  
  @media (max-width: 700px) {
    /* Hide the large component */
    .large-component {
      display: none;
    }
    
    /* Show the small component */
    .small-component {
      display: block;
    }
  }

  .filterheader {
    display: block;
    font-size: large;
    color: rgb(99, 99, 99);
    font-family: 'Open Sans', sans-serif;
  }

  .smallfilterheader {
    display: block;
    font-size: large;
    color: rgb(99, 99, 99);
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-left: 30px;
  }


  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
