.loginheader {
  color: rgb(99, 99, 99);
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5px;
  font-size: x-large;
}

.loginheaderdark {
  color: rgb(223, 223, 223);
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5px;
  font-size: x-large;
}

.toggle-dark-mode {
  font-family: 'Open Sans', sans-serif;
  padding-left: 6px;
  font-size: small;
}

.toggle-account-value-tracking {
  font-family: 'Open Sans', sans-serif;
  padding-left: 6px;
  font-size: small;
}

.top-right-component {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 7px;
  padding-right: 7px;
}

.top-right-component:hover {
  color: rgb(136, 136, 136);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
