.pagename {
    display: block;
    font-size: medium;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 5px;
}
  
  @media (max-width: 450px) {
    .pagename {
      display: none;
    }
  }

  .pagenamedark {
    display: block;
    font-size: medium;
    color: rgb(27, 27, 27);
    font-family: 'Open Sans', sans-serif;
    padding-left: 5px;
}
  
  @media (max-width: 450px) {
    .pagenamedark {
      display: none;
    }
  }

.username {
    display: block;
    padding-left: 14px;
    font-size: medium;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
  
  @media (max-width: 575px) {
    .username {
      display: none;
    }
  }

  .usernamedark {
    display: block;
    padding-left: 14px;
    font-size: medium;
    color: rgb(27, 27, 27);
    font-family: 'Open Sans', sans-serif;
}
  
  @media (max-width: 450px) {
    .usernamedark {
      display: none;
    }
  }

  .my-trading-tracker {
    display: block;
    font-size: x-large;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    padding-right: 5px;
  }

  .my-trading-tracker-alone {
    display: block;
    font-size: x-large;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .my-trading-trackerdark {
    display: block;
    font-size: x-large;
    color: rgb(27, 27, 27);
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    padding-right: 5px;
  }

  .my-trading-tracker-alonedark {
    display: block;
    font-size: x-large;
    color: rgb(27, 27, 27);
    font-family: 'Open Sans', sans-serif;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .my-trading-tracker:hover {
    color: rgb(209, 209, 209);
  }

  .my-trading-trackerdark:hover {
    color: rgb(70, 69, 69);
  }
  
  @media (max-width: 375px) {
    .my-trading-tracker {
      display: none;
    }
  }

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
