.pagename {
    display: block;
    font-size: medium;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 5px;
}
  
  @media (max-width: 450px) {
    .pagename {
      display: none;
    }
  }

  .pagenamedark {
    display: block;
    font-size: medium;
    color: rgb(27, 27, 27);
    font-family: 'Open Sans', sans-serif;
    padding-left: 5px;
}
  
  @media (max-width: 450px) {
    .pagenamedark {
      display: none;
    }
  }

.username {
    display: block;
    padding-left: 14px;
    font-size: medium;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
  
  @media (max-width: 515px) {
    .username {
      display: none;
    }
  }

  .usernamedark {
    display: block;
    padding-left: 14px;
    font-size: medium;
    color: rgb(27, 27, 27);
    font-family: 'Open Sans', sans-serif;
}
  
  @media (max-width: 515px) {
    .usernamedark {
      display: none;
    }
  }

  .my-trading-tracker {
    display: block;
    font-size: x-large;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-right: 5px;
  }

  .my-trading-tracker-alone {
    display: block;
    font-size: x-large;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .my-trading-trackerdark {
    display: block;
    font-size: x-large;
    color: rgb(27, 27, 27);
    font-family: 'Open Sans', sans-serif;
    padding-right: 5px;
  }

  .my-trading-tracker-alonedark {
    display: block;
    font-size: x-large;
    color: rgb(27, 27, 27);
    font-family: 'Open Sans', sans-serif;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .my-trading-tracker:hover {
    color: rgb(209, 209, 209);
  }

  .my-trading-trackerdark:hover {
    color: rgb(70, 69, 69);
  }
  
  @media (max-width: 375px) {
    .my-trading-tracker {
      display: none;
    }
  }

  @media (max-width: 375px) {
    .my-trading-trackerdark {
      display: none;
    }
  }

  .logo {
    margin-left: 10px;
    padding: 2px;
    border-radius: 'full';
    max-width: 50px;
    max-height: 50px;
  }

  .logo-alone {
    margin-left: 10px;
    padding: 2px;
    border-radius: 'full';
    max-width: 50px;
    max-height: 50px;
  }

  @media (max-width: 600px) {
    .logo {
      display: none;
    }
  }

  .color-mode-comp {
    color: white;
    font-size: 25px; 
    cursor: pointer;
  }

  .color-mode-comp:hover {
    color: rgb(199, 199, 199);
  }

  .color-mode-comp-dark {
    color: rgb(27, 27, 27);
    font-size: 25px; 
    cursor: pointer;
  }

  .color-mode-comp-dark:hover {
    color: rgb(97, 97, 97);
  }

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
