/*
.profileheader {
    color: rgb(99, 99, 99);
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 5px;
    font-size: x-large;
  }

  .profileheaderdark {
    color: rgb(223, 223, 223);
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 5px;
    font-size: x-large;
  }
*/

  .avatar {
    background-color: rgb(99, 99, 99);
  }

  .profilestack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-height: 550px) {

    .profilestack {
      padding-top: 325px;
    }

  }


  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');